body{background-image: url(pict/download.jpg); background-repeat: no-repeat; background-attachment: fixed; background-position: center; background-size: cover;}
header {text-align:center; width:10%; background-color:red; position: fixed;top: 0px; left: 0px; z-index: 2;}
#egy {text-align: center; color:yellow}